// Body
$body-bg: #ffffff;

// Typography
$font-size-base: 12px; // this changes the font-size throughout bootstrap
$font-family-sans-serif: 'Cutive Mono', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;