<div class="paper" style="height: 800px">
    <div class="mx-auto mt-5" style="width: 800px">
        <h1> <%= @log.date.year %>/<%= @log.date.month %>/<%= @log.date.day %> <%= @log.title %></h1>
        <p><%= @log.text %></p>
    </div>
</div>
